<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
    <test name="CITests">
        <parameter name="application" value="eFapsApp-Accounting"/>
        <parameter name="baseFolder" value="../../../main/efaps"/>
        <parameter name="ciClass" value="org.efaps.esjp.ci.CIAccounting"/>
        <parameter name="regex4TypeLabelExclude" value="^Sales_.*|/ToProductClass|/Flag.Label|/Group.Label"/>
        <parameter name="regex4FieldLabelExclude" value="^Sales_.*|^Products_.*"/>
        <parameter name="regex4MenuLabelExclude" value=".*_Menu.Label$|^Sales_.*"/>
        <packages>
            <package name="org.efaps.tests.ci*"></package>
            <package name="org.efaps.tests.others.*"></package>
        </packages>
    </test>
</suite>
